
<div class="row">
    <h1>Hard & Soft skils</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
          class="d-block w-100" 
          [percent]="85"
          [radius]="40"
          [imageSrc]="'../../../assets/img/html.png'"
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
          [showUnits]="false"
          [showSubtitle]="false"
          [titleFontSize]="'0.5em'"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [lazy]="false"
    ></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
      class="d-block w-100" 
      [percent]="80"
      [radius]="40"
      [imageSrc]="'../../../assets/img/CSS.png'"
     
      [showImage]="true"
      [imageHeight]="50"
      [imageWidth]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [titleFontSize]="'0.5em'"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [lazy]="false"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
      <circle-progress
            class="d-block w-100" 
            [percent]="75"
            [radius]="40"
            [imageSrc]="'../../../assets/img/js.png'"
           
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontSize]="'0.5em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
      class="d-block w-100" 
      [percent]="70"
      [radius]="40"
      [imageSrc]="'../../../assets/img/kisspng-c-programming-language-computer-programming-arra-c-green-icon-5a70de2da99d76.9651255515173463496948.png'"
   
      [showImage]="true"
      [imageHeight]="50"
      [imageWidth]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [titleFontSize]="'0.5em'"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [lazy]="false"
  ></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    class="d-block w-100" 
    [percent]="95"
    [radius]="40"
    [imageSrc]="'../../../assets/img/bootstrap.png'"
    
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [showUnits]="false"
    [showSubtitle]="false"
    [titleFontSize]="'0.5em'"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    [lazy]="false"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
    class="d-block w-100" 
    [percent]="90"
    [radius]="40"
    [imageSrc]="'../../../assets/img/kisspng-json-serialization-node-js-postgresql-data-type-parsing-5b248fccac9c05.896478081529122764707.png'"
   
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [showUnits]="false"
    [showSubtitle]="false"
    [titleFontSize]="'0.5em'"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    [lazy]="false"
></circle-progress>

</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      class="d-block w-100" 
      [percent]="75"
      [radius]="40"
      [imageSrc]="'../../../assets/img/kisspng-logo-mysql-database-phpmyadmin-mysql-digital-agency-maidenhead-web-agency-uk-5b6475c37dee49.2368989315333104035158.png'"
  
      [showImage]="true"
      [imageHeight]="50"
      [imageWidth]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [titleFontSize]="'0.5em'"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [lazy]="false"
  ></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
      class="d-block w-100" 
      [percent]="65"
      [radius]="40"
      [imageSrc]="'../../../assets/img/kisspng-netbeans-apache-software-foundation-apache-http-se-5ae7be3426ed29.5578253615251369481595.png'"
      
      [showImage]="true"
      [imageHeight]="50"
      [imageWidth]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [titleFontSize]="'0.5em'"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [lazy]="false"
  ></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
      class="d-block w-100" 
      [percent]="80"
      [radius]="40"
      [imageSrc]="'../../../assets/img/kisspng-visual-studio-code-microsoft-visual-studio-source-notice-5ab888a4b34712.2893155915220430447343.png'"
      
      [showImage]="true"
      [imageHeight]="50"
      [imageWidth]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [titleFontSize]="'0.5em'"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [lazy]="false"
  ></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
      class="d-block w-100" 
      [percent]="100"
      [radius]="40"
      [imageSrc]="'../../../assets/img/grupal.png'"
      
      [showImage]="true"
      [imageHeight]="50"
      [imageWidth]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [titleFontSize]="'0.5em'"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [lazy]="false"
  ></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
      class="d-block w-100" 
      [percent]="75"
      [radius]="40"
      [imageSrc]="'../../../assets/img/git.png'"
      
      [showImage]="true"
      [imageHeight]="50"
      [imageWidth]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [titleFontSize]="'0.5em'"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [lazy]="false"
  ></circle-progress>
</div>
</div>

