.row{
    padding: 20px;
    background: rgb(34, 193, 195);
    background: linear-gradient(177deg, rgba(34, 193, 195, 1) 0%, rgba(45, 53, 253, 1) 70%);
}
.contenedor{
    width: auto;
}
.parte1{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
}